.mapcontainer {
    grid-area: h;
    background-color: mistyrose;
    height: 800px;
    width: auto;
    display:flex;

}

.map{
    margin:auto;
    background-color: cornflowerblue;
    grid-gap: 1px;
    display:grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 900px;
    width: 900px;

}
.map img {
    width: 20px;
}
.map h1{
    font-style: italic;
    color: darkcyan;
}